#all-content {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

#all-content h1 {
    margin-top: 60px;
    margin-bottom: 50px;
    color: #848484;
    font-weight: bold;
    font-size: 35px;
}

.models {
    display:none;
}

.pizza-items {
    display: flex;
}

.text-block {
    display: grid;
    width: 33rem;
}

.pizza-items img {
    width: 100px;
    margin-left: 65px;
    margin-bottom: 10px;
}

.text-block span {
    margin-top: 15px;
    margin-left: 30px;
    font-size: 20px;
}

.text-block .delete {
    color: #FF3D00;
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 0px;
}

.text-block a {
    margin-top: 10px;
    cursor: pointer;
}

.pizzaInfo-qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    margin-top: 30px;
}
.pizzaInfo-qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.pizzaInfo-qt {
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}

.pizzaInfo-price p{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 23px;
}

.total-value p{
    margin-right: 40px;
    font-size: 30px;
    text-align: right;
}

.continue-button {
    text-align: right;
}

.continue-button button {
    width: 300px;
    padding: .5rem;
    background-color: #3FC83C;
    color: #FFFFFF;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

