body {
    margin: 0;
}

#background img{
    width: 100vw;
    height: 100vh;
}

#logo img{
    position: absolute;
    width: 200px;
    margin: 0 auto;
    top: 5%;
    left: calc(50% - 100px);

}

#menu-button button{
    position: absolute;
    top: 52%;
    left: calc(50% - 175px);
    width: 350px;
    height: 50px;

    background-color: #FDA04A;
    text-align: center;
    font-size: 30px;
    font-family: 'Playball', cursive;
    border-radius: 40px;
    border: 0;
    color: #3E2F24;
}